.gallery {
  max-width: 880px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  grid-template-areas:
    "image1 image2 image3"
    "image4 image5 image6";
  list-style: none;
  padding: 0;
}

.gallery__box {
  width: 282px;
  height: 361px;
  background-color: white;
  border-radius: 10px;
}

.gallery__image1 {
  grid-area: image1;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
}

.gallery__image2 {
  grid-area: image2;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.gallery__image3 {
  grid-area: image3;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.gallery__image4 {
  grid-area: image4;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.gallery__image5 {
  grid-area: image5;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.gallery__image6 {
  grid-area: image6;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.gallery__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gallery__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery__icon {
  width: 21px;
  margin-left: 10px;
  margin-right: 20px;
}
.gallery__icon:hover {
  background-image: url(/images/likeGray.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.gallery__icon:active {
  background-image: url(/images/likeBlack.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 880px) and (min-width: 641px) {
  .gallery {
    max-width: 641px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "image1" "image2" "image3"
      "image4" "image5" "image6";
    gap: 25px 20px;

    /*padding: 0 40px 0;*/
  }
}
@media screen and (max-width: 640px) and (min-width: 320px) {
  .gallery {
    max-width: 282px;
    margin-left: auto;
    margin-right: auto;
    /*margin-left: 19px;
    margin-right: 19px;*/
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    grid-template-areas:
      "image1" "image2" "image3"
      "image4" "image5" "image6";
  }
}

/*@media screen and (max-width: 320px) {
  .gallery {
    margin-left: 19px;
    margin-right: 19px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    grid-template-areas:
      "image1" "image2" "image3"
      "image4" "image5" "image6";
  }
}*/
